<footer>
    <div class="footer-inner">
        <div style="text-align: center;">Copyright © Chris Price Music 2025</div>
        <br>
        <div class="footer-grid">
            <div><a href="/contact">Contact</a></div>
            <div><a href="/apply">Apply for Publication</a></div>
        </div>
    </div>
</footer>